h1{
    text-align: center;
    color: #2464c4;
    text-shadow: 10px -10px 2px grey;
    font-family: Helvetica;
}
.apartado8{
    text-align: center;
    color:palevioletred;
    text-shadow: -10px 10px 2px grey;
    font-family: Helvetica;
}